<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>net.osx86.kexts.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>GenericUSBXHCI</key>
		<dict>
			<key>RM,Version</key>
			<string>${PRODUCT_NAME} ${MODULE_VERSION}</string>
			<key>RM,Build</key>
			<string>${CONFIGURATION}-${LOGNAME}</string>
			<key>CFBundleIdentifier</key>
			<string>net.osx86.kexts.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOClass</key>
			<string>GenericUSBXHCI</string>
			<key>#IOPCIPrimaryMatch</key>
			<string>0x01941033</string>
			<key>IOPCIClassMatch</key>
			<string>0x0c033000</string>
			<key>IOPCIPauseCompatible</key>
			<true/>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>IOUSBControllerUserClient</string>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>ASMediaEDLTAFix</key>
			<true/>
			<key>IntelDoze</key>
			<false/>
			<key>DeviceWhitelist</key>
			<dict>
				<key>1b73_1000</key>
				<integer>0</integer>
			</dict>
			<key>DeviceBlacklist</key>
			<dict>
				<key>8086</key>
				<integer>0</integer>
				<key>1b73</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>${COPYRIGHT_NOTICE}</string>
	<key>OSBundleCompatibleVersion</key>
	<string>${DYLIB_COMPATIBILITY_VERSION}</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>5.0.0a1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
